  <link rel="preload" href="{{cdn '/fonts/lato-bold-webfont.woff2'}}" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="{{cdn '/fonts/lato-bold-webfont.woff2'}}" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="{{cdn '/fonts/lato-regular-webfont.woff2'}}" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="{{cdn '/fonts/lato-regular-webfont.woff2'}}" as="font" type="font/woff" crossorigin>
  <link rel="preload" href="{{cdn '/fonts/barlow-black-webfont.woff2'}}" as="font" type="font/woff" crossorigin>
  <link rel="preload" href="{{cdn '/fonts/barlow-black-webfont.woff2'}}" as="font" type="font/woff" crossorigin>